# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
numpy>=1.18
sphinx>=3.2.1
sphinx_rtd_theme>=1.0
torch>=1.8
